  
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mi primera pagina</title>
</head>
<style>
  .text1 {
      width: 40%;
    height: 40%;
    float: left;
  }
  .text2 {
    width: 40%;
    height: 40%;
    float: right;
  }
  .enviar {
    display: block;margin-left: 50%; margin-right: 50%
  }
</style>

<body style="background-color: white">
  <h1 align="center">Mi primera pagina</h1><hr>
  <img src="https://gosbsit.com/wp-content/uploads/2017/01/dark-blue-high-tech-background-header.jpg" alt="red de internet" style="width: 1350px;height: 200px;margin-bottom: 5% ">
<div class="text1"><i>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores doloremque architecto atque suscipit necessitatibus fugiat praesentium veniam at eligendi cumque error, iusto ducimus dolore, optio molestias esse sequi quae deleniti.</p>
</div>
<div class="text2"><i>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos molestiae doloribus ab, eius? Exercitationem nemo dicta architecto expedita? Itaque consequatur tempora impedit rem expedita minus eos, minima aperiam eius odit? </p>
</div>
  <a href="http://www.google.com" target="_blank"></a><br><hr>
<div class="enviar">
  <a href="http://www.facebook.com" target="_blank"><button>enviar</button></a>
</div>
<footer>
  <p> Posted by: Eduard Sequera</p>
  <p> contact information: <a href="mailto:someone@example.com">eduard@gmail.com</a>
  </p>
</footer> 
</body>

</html>
<img src="" alt="">

<%= link_to 'about', pages_about_path %>